<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	failOnWarning="true"
	failOnRisky="true"
	cacheDirectory=".phpunit.cache">
	<testsuites>
		<testsuite name="SVG Forge Icon Manager">
			<file>tests/Test_Icon_Library_Admin_Security.php</file>
			<file>tests/Test_Icon_Library_Attribute_Resolvers.php</file>
			<file>tests/Test_Icon_Library_Block_Render.php</file>
			<file>tests/Test_Icon_Library_Native_Icons.php</file>
			<file>tests/Test_Icon_Library_Sanitize_Svg.php</file>
			<file>tests/Test_Icon_Library_Short_Url.php</file>
			<file>tests/Test_Icon_Library_Sprite_Preview.php</file>
			<file>tests/Test_Icon_Library_Sprite_Symbols.php</file>
			<file>tests/Test_Icon_Library_Sprite_Url.php</file>
		</testsuite>
	</testsuites>
</phpunit>
